@page "/sessionexpired"
@inject NavigationManager NavigationManager

<PageTitle>Session Expired</PageTitle>

<div class="main-container">
    <h1>Session Expired</h1>
    <h2>Come Back Tomorrow!</h2>

    <button @onclick="exit">Exit</button>
</div>

@code {
    private void exit() {
        NavigationManager.NavigateTo(uri: "/");
    }
}